{% set disabled_names = disabled_names | default([]) -%}
{% set hidden_columns = hidden_columns | default(['type']) -%}
{% set custom_formatters = custom_formatters | default({}) %}
{% set disable_add_params = disable_add_params | default(False) %}

<div class="section">
    <div class="row">
        <div class="col">
            <p class="font-h5 font-bold font-uppercase">{{ caption | default("Default Caption") }}</p>
            <p class="font-h6 font-weight-400">{{ description | default("You may also create additional parameters with ability to change them in subsequent test runs") }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="test_parameters_error"></div>
            <table class="table table-borderless params-table empty_data mt-3"
                    {% if modal_id %} id="{{ modal_id }}_test_params" {% endif %}
                   data-toggle="table"
            >
                <thead class="thead-light">
                <tr>
                    <th scope="col" data-sortable="true" data-field="name"
                        data-formatter="{{ custom_formatters.get('name', 'ParamsTable.inputFormatter') }}"
                        data-width="144" data-width-unit="px"
                    >
                        Name
                    </th>
                    <th scope="col" data-sortable="true" data-field="default"
                        data-formatter="{{ custom_formatters.get('default', 'ParamsTable.inputFormatter') }}"
                    >
                        Default value
                    </th>
                    {% if ("type" not in hidden_columns) %}
                        <th scope="col" data-sortable="true" data-field="type"
                            data-formatter="{{ custom_formatters.get('type', 'ParamsTable.dataTypeFormatter') }}"
                            data-width="144" data-width-unit="px"
                        >
                            Data Type
                        </th>
                    {% endif %}
                    <th scope="col" data-sortable="true" data-field="description"
                        data-formatter="{{ custom_formatters.get('description', 'ParamsTable.inputFormatter') }}"
                    >
                        Description
                    </th>
                    <th scope="col" data-field="action"
                        data-formatter="{{ custom_formatters.get('action', 'ParamsTable.parametersDeleteFormatter') }}"
                        data-width="56" data-width-unit="px"
                    >&nbsp;</th>
                </tr>
                </thead>
                <tbody style="border-bottom: solid 1px #EAEDEF">
                {% for row in default_params | default([]) %}
                    <tr>
                        <td {% if (row.name in disabled_names) %} class="disabled" {% endif %} >
                            {{ row.name }}
                        </td>
                        <td>{{ row.default }}</td>
                        {% if ("type" not in hidden_columns) %}
                            <td {% if (row.name in disabled_names) %} class="disabled" {% endif %} >
                                {{ row.type }}
                            </td>
                        {% endif %}
                        <td {% if (row.name in disabled_names) %} class="disabled" {% endif %} >
                            {{ row.description }}
                        </td>
                        {% if (row.name not in disabled_names) %}
                            <td></td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% if not disable_add_params %}
    <div class="row pt-3">
        <div class="col">
            <button type="button" class="btn btn-sm btn-secondary"
                    onclick="ParamsTable.addEmptyParamsRow(this)">
                <i class="fas fa-plus mr-2"></i>Add Parameter
            </button>
        </div>
    </div>
{% endif %}
</div>
