<div class="card card-12">

    <div class="card-header">
        <div class="row">
            <div class="col-5">
                <h3 class="text-gray" id="results">Secrets</h3>
            </div>
            <div class="col-7">
                <div class="d-flex justify-content-end">
                    <button
                       class="btn btn-24 btn-secondary"
                       type="button"
                       data-toggle="popover"
{#                       data-trigger="focus"#}
                       title="Add secret"
                       id="secrets_add"
                    >
                        <span class="fas fa-plus"></span>
                    </button>
                    <button type="button" id="remove-task" onclick="deleteSecret(event)"
                            class="btn btn-24 btn-secondary">
                        <span class="fas fa-trash"></span>
                    </button>

                </div>
            </div>
        </div>
    </div>

    <div class="card-body card-table">
        <table class="table table-borderless"
                {#                   data-unique-id="id"#}
               id="secrets"
               data-toggle="table"
               data-url="/api/v1/secrets/{{ config.id }}"
               data-pagination="true"
               data-page-size=20
               data-pagination-parts='["pageInfoShort", "pageList"]'
        >
            <thead class="thead-light">
            <tr>
                <th scope="col" data-checkbox="true"></th>
                <th scope="col" data-width="13" data-width-unit="%" data-sortable="true" data-field="name">Secret</th>
                <th scope="col" data-field="secret" data-formatter="viewValue">Value</th>
                <th scope="col" data-align="right" data-formatter="secretsActionFormatter">Actions</th>
            </tr>
            </thead>
        </table>
    </div>

<!-- Modal -->
<!-- Button trigger modal -->
{#<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">#}
{#  Launch demo modal#}
{#</button>#}

    <div class="modal fade" id="secrets_modal" tabindex="-1" aria-labelledby="secrets_modal_title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="secrets_modal_title"></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="secrets_modal_body"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-basic btn-lg" id="modal_save"></button>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="{{ url_for('static', filename='js/components/secrets.js') }}" type="text/javascript"></script>