{% set chapters = chapters | default(["git", "artifact", "local", "container"]) -%}
{% set container_id = container_id | default("source_card") -%}

<div class="card card-x card-source" id="{{ container_id }}">
    <nav class="striped">
        <div class="nav nav-tabs source-selector" id="nav-tab" role="tablist">
            <span>Source:</span>
            {% if 'git' in chapters %}
                <a class="nav-item nav-link active" id="nav-git-tab" data-toggle="tab" href="#nav-git" role="tab"
                   aria-controls="nav-git" aria-selected="true">Git</a>
            {% endif %}
            {% if 'artifact' in chapters %}
                <a class="nav-item nav-link" id="nav-file-tab" data-toggle="tab" href="#nav-file" role="tab"
                   aria-controls="nav-file" aria-selected="false">Artifact</a>
            {% endif %}
            {% if 'local' in chapters %}
                <a class="nav-item nav-link" id="nav-local-file-tab" data-toggle="tab" href="#nav-local-file" role="tab"
                   aria-controls="nav-local-file" aria-selected="false">Local</a>
            {% endif %}
            {% if 'container' in chapters %}
                <a class="nav-item nav-link" id="nav-container-image-tab" data-toggle="tab" href="#nav-container-image" role="tab"
                   aria-controls="nav-container-image" aria-selected="false">Container</a>
            {% endif %}
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        {% if 'git' in chapters %}
            <div class="tab-pane fade mt-2 show active" id="nav-git" role="tabpanel" aria-labelledby="nav-git-tab">
                <div id="target_git" class="carrier-sast-target">
                    <div class="custom-input__tabs mb-3">
                        <p class="font-h5 font-semibold mb-1">Git Repo with Tests</p>
                        <input id="repo" class="form-control form-control-alternative" placeholder="https://github.com/..." type="text" style="padding-left: 140px">
                        <ul class="input-tabs nav nav-pills" id="git-type-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="font-h6 font-semibold active" href="#git_ssh" id="git-ssh-tab" data-toggle="pill" role="tab" aria-controls="git-ssh-tab" aria-selected="true">SSH</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="font-h6 font-semibold" href="#git_https" id="git-https-tab" data-toggle="pill" role="tab" aria-controls="git-https-tab" aria-selected="false">HTTPS</a>
                            </li>
                        </ul>
                        <div class="invalid-feedback" id="repo_error"></div>
                    </div>
                    <div class="tab-content" id="input-tabContent">
                        <div class="tab-pane fade show active" id="git_ssh" role="tabpanel">
                            <div class="row mb-3">
                                <div class="col">
                                    <p class="font-h5 font-semibold mb-1">Git Branch</p>
                                    <input type="text" id="repo_branch" class="form-control form-control-alternative"
                                           placeholder="(optional, default - main)">
                                    <div class="invalid-feedback" id="repo_branch_error"></div>
                                </div>
                            </div>
                            <div class="row pb-2.5">
                                <div class="col">
                                    <p class="font-h5 font-semibold mb-1">Git SSH private key</p>
                                    <input type="text" id="repo_key" class="form-control form-control-alternative">
                                    <div class="invalid-feedback" id="repo_key_error"></div>
                                </div>
                                <div class="col">
                                    <p class="font-h5 font-semibold mb-1">Git Password</p>
                                    <input type="text" id="repo_ssh_pass" class="form-control form-control-alternative"
                                           placeholder="(optional)">
                                    <div class="invalid-feedback" id="repo_ssh_pass_error"></div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="git_https" role="tabpanel">
                            <div id="target_git_https" class="carrier-sast-target">
                                <div class="row mb-3">
                                    <div class="col">
                                        <p class="font-h5 font-semibold mb-1">Git Branch</p>
                                        <input type="text" id="repo_branch_https" class="form-control form-control-alternative"
                                               placeholder="(optional, default - main)">
                                        <div class="invalid-feedback" id="repo_branch_https_error"></div>
                                    </div>
                                </div>
                                <div class="row pb-2.5">
                                    <div class="col">
                                        <p class="font-h5 font-semibold mb-1">Git Username</p>
                                        <input type="text" id="repo_user" class="form-control form-control-alternative"
                                               placeholder="(optional)">
                                        <div class="invalid-feedback" id="repo_user_error"></div>
                                    </div>
                                    <div class="col">
                                        <p class="font-h5 font-semibold">Git Password</p>
                                        <input type="text" id="repo_pass" class="form-control form-control-alternative"
                                               placeholder="(optional)">
                                        <div class="invalid-feedback" id="repo_pass_error"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if 'artifact' in chapters %}
            <div class="tab-pane fade mt-2" id="nav-file" role="tabpanel" aria-labelledby="nav-file-tab">
                <div class="row">
                    <div class="col">
                        <div class="form-group" id="fileUpload">
                            <label class="form-control-label" for="file">Test package</label>
                            <h13>Please upload .zip file with your tests. Packaging guidelines.</h13>
                            <input type="file" class="form-control form-control-alternative" id="file" lang="en"
                                   multiple>
                            
                            <p> Current File: <span id="source-current-file">Nothing selected</span></p>
                            <div class="invalid-feedback" id="file_error"></div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if 'local' in chapters %}
            <div class="tab-pane fade mt-2" id="nav-local-file" role="tabpanel" aria-labelledby="nav-local-file-tab">
                <div class="carrier-sast-target">
                    <div class="row">
                        <div class="col">
                            <label class="form-control-label" for="local_file">Path to control-tower mount of
                                tests</label>
                            <input type="text" id="local_file" class="form-control form-control-alternative"
                                   placeholder="e.g. /tmp/test_code">
                            <div class="invalid-feedback" id="local_file_error"></div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if 'container' in chapters %}
            <div class="tab-pane fade mt-2" id="nav-container-image" role="tabpanel" aria-labelledby="nav-container-image-tab">
                <div class="carrier-sast-target">
                    <div class="row">
                        <div class="col">
                            <label class="form-control-label" for="local_file">Image name</label>
                            <input type="text" id="container_image" class="form-control form-control-alternative"
                                   placeholder="e.g. image:tag">
                            <div class="invalid-feedback" id="container_image_error"></div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>