{#{% set max_alerts = config.max_alerts | default(1) -%}#}
{#{% set alert_container_id = config.alert_container_id | default('alert_custom') -%}#}
{#{% set overlay_max_width = config.overlay_max_width | default('unset') -%}#}

<div id="{{ alert_container_id }}" data-max-alerts="{{ max_alerts | default(1) }}">
    THIS IS ALERT BAR {{ alert_container_id }}
    <div class="overlaying" style="max-width: {{ overlay_max_width | default('unset') }}"></div>
</div>
<script>
    $(() => {
        window['{{ alert_container_id }}'] = new AlertBar('{{ alert_container_id }}')
        setTimeout(() => window['{{ alert_container_id }}'].add('Hello from {{ alert_container_id }}'), 3000)
    })
</script>