{%- macro script_url(file_path) -%}
    {%- set base_url = '<script src="%s"></script>' -%}
    {{ base_url | format(url_for('design-system.static', filename=file_path)) | safe }}
{%- endmacro -%}
<!-- Core JS Files -->
{{ script_url('assets/vendor/vue.global.js') }}

{{ script_url('assets/vendor/jquery-3.6.0.min.js') }}
{{ script_url('assets/vendor/bootstrap-4.6.1-dist/js/bootstrap.bundle.min.js') }}
<script src="{{ url_for('design-system.static', filename='assets/vendor/bootstrap-table/bootstrap-table.min.js') }}"
        defer></script>

{{ script_url('assets/vendor/bootstrap-select/js/bootstrap-select.min.js') }}

<!-- SocketIO -->
{{ script_url('assets/vendor/socket.io.min.js') }}

<script src="{{ url_for('theme.static', filename='js/custom.js') }}"></script>
{{ script_url('assets/js/table.js') }}
{{ script_url('assets/js/select.js') }}
{{ script_url('assets/js/tooltips.js') }}

{{ script_url('assets/js/notification-master/notification.js') }}
{{ script_url('assets/js/notifications.js') }}
