{%- macro script_url(file_path) -%}
    {%- set base_url = '<script src="%s"></script>' -%}
    {{ base_url | format(url_for('design-system.static', filename=file_path)) | safe }}
{%- endmacro -%}
{%- macro link_url(file_path) -%}
    {%- set base_url = '<link type="text/css" href="%s" rel="stylesheet"/>' -%}
    {{ base_url | format(url_for('design-system.static', filename=file_path)) | safe }}
{%- endmacro -%}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {#    <title>Carrier | Non-functional Testing Toolkit</title>#}

    {% block all_styles %}

        <!-- Core styles -->

        <!--ICONS AND MEDIA -->
        <link rel="apple-touch-icon" sizes="76x76"
              href="{{ url_for('design-system.static', filename='assets/ico/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png"
              href="{{ url_for('design-system.static', filename='assets/ico/favicon.png') }}">

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

        <!-- CSS FILES -->
        {{ link_url('assets/vendor/fontawesome-free/css/all.min.css') }}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
              integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
              crossorigin="anonymous">
        {{ link_url('assets/vendor/nouislider/nouislider.css') }}
        {{ link_url('assets/vendor/bootstrap-table/bootstrap-table.min.css') }}
        {{ link_url('assets/vendor/bootstrap-table/extensions/filter-control/bootstrap-table-filter-control.min.css') }}
        {{ link_url('assets/vendor/bootstrap-select/css/bootstrap-select.min.css') }}
        {{ link_url('assets/style/css/main.css') }}
        <link type="text/css" href="{{ url_for('theme.static', filename='css/alert_bar.css') }}" rel="stylesheet">



        <!-- Plugin styles -->

        {% block styles %}
            {{ template_slot('styles', tools.auth.make_request_state()) | safe }}
            {% if prefix %}{{ template_slot(prefix + 'styles', tools.auth.make_request_state()) | safe }}{% endif %}
        {% endblock %}

    {% endblock %}
