<Navbar
        @register="register"
        instance_name="navbar"

        :sections='{{ tools.theme.get_visible_plugins() | tojson }}'
        :subsections='{{ tools.theme.get_visible_subsections(g.theme.active_section) | tojson }}'
        :user='{{ tools.auth.current_user() | tojson }}'

        logo_url="{{ url_for('design-system.static', filename='assets/ico/logo.svg') }}"
        active_section="{{ g.theme.active_section }}"
        active_subsection="{{ g.theme.active_subsection }}"

{#        :active_project='{{ g.project.id | default(None | tojson) }}'#}
        :active_project="project_id"
>
</Navbar>

{{ template_slot("alert_bar", payload={ "alert_container_id": "alertMain", "max_alerts": 3 }) | safe }}
