<Navbar
        @register="register"
        instance_name="navbar"

        :sections='{{ tools.theme.get_sections() | tojson }}'
        :subsections='{{ tools.theme.get_subsections() | tojson }}'
        :modes='{{ tools.theme.get_modes() | tojson }}'
{#        :user='{{ tools.auth.current_user() | tojson }}'#}
{#        Now user comes from vue root     #}
        :user='user'
{#        :is_admin_user="{{ tools.theme.is_current_user_admin() | tojson }}"#}

        logo_target="{{ tools.context.url_prefix }}/"
        logo_url="{{ url_for('design-system.static', filename='assets/ico/logo.svg') }}"
        logout_url="{{ tools.theme.descriptor.config.get('logout_url', '/forward-auth/logout') }}"
        change_password_url="{{ tools.theme.descriptor.config.get('change_password_url', '/auth/realms/carrier/account/password') }}"
        active_section="{{ g.theme.active_section }}"
        active_subsection="{{ g.theme.active_subsection }}"
        :active_mode="mode"
        :active_parameter='{{ g.theme.active_parameter | tojson }}'

        :active_project="project_id"

>
</Navbar>

{{ template_slot("alert_bar", payload={ "alert_container_id": "alertMain", "max_alerts": 3 }) | safe }}
