<div class="modal fixed-left fade shadow-sm" tabindex="-1" role="dialog" id="createApplicationTest">
    <div class="modal-dialog modal-dialog-aside" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row w-100">
                    <div class="col">
                        <h2 id="modal_title">Add Application Test</h2>
                    </div>
                    <div class="col-xs">
                        <button type="button" class="btn btn-sm btn-projects" data-dismiss="modal"><i
                                class="fas fa-file-alt"></i> Use template
                        </button>
                        <button type="button" class="btn btn-sm btn-projects" data-dismiss="modal"><i
                                class="fas fa-file"></i> Save as template
                        </button>
                        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal" aria-label="Close">
                            Cancel
                        </button>
                        <button type="button" id="security_test_save" class="btn btn-sm btn-secondary">
                            Save
                        </button>
                        <button type="button" id="security_test_save_and_run" class="btn btn-sm btn-basic">
                            Save and start
                        </button>
                    </div>
                </div>
            </div>


            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-6">
                        <h9>Test Name</h9>
                        <p>
                            <h13>Enter a name that describes the purpose of your test</h13>
                        </p>
                        <input type="text" id="test_name" class="form-control form-control-alternative"
                               placeholder="Test Name">
                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="form-group col-6">
                        <h9>Test context/scope</h9>
                        <p>
                            <h13>Description</h13>
                        </p>
                        <input type="text" id="test_description" class="form-control form-control-alternative"
                               placeholder="Some data">
                    </div>
                </div>

                {{ template_slot("params_table", payload={
                    "caption": "Test Parameters",
                    "default_params": [
                        {"name": "URL to scan", "default": "", "type": "URLs", "description": "Data"},
                        {"name": "Exclusions", "default": "", "type": "List", "description": "Data"},
                        {"name": "Scan location", "default": "Carrier default config", "type": "Item", "description": "Data"},
                    ],
                    "disabled_names": ("URL to scan", "Exclusions", "Scan location")
                }) | safe }}

                {{ template_slot("integrations_security_create", payload=config) | safe }}

                {{ template_slot("findings_processing", payload=config) | safe }}


            </div>
        </div>
    </div>
</div>
