<div class="section">
    <div class="row">
        <div class="col">
            <h7>Processing</h7>
            <p>
                <h13>Processing part</h13>
            </p>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-6">
            <div class="card card-row-1" id="MSF">
                <div class="card-header">
                    <h9>Minimal Severity Filter</h9>
                    <p>
                        <h13>Function description</h13>
                    </p>
                </div>
                <div class="card-body pl-0" id="severity_filters">
                    <select id="secondarySelect" class="selectpicker mr-2" data-style="btn-secondary" id="severity">
                        <option>Info</option>
                        <option>Critical</option>
                        <option>High</option>
                        <option>Medium</option>
                        <option>Low</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="card card-row-1 card-x">
                <div class="card-header d-flex align-items-center">
                    <div class="flex-grow-1">
                        <h9>Processing</h9>
                        <p>
                            <h13>Function description</h13>
                        </p>
                    </div>
                    <button type="button" class="btn btn-24 btn-action" data-toggle="collapse" data-target="#"
                            aria-expanded="false"><i class="fas fa-cog"></i></button>
                    <label class="custom-toggle">
                        <input type="checkbox" id="another">
                        <span class="custom-toggle-slider rounded-circle"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/components/security/findings-processing.js') }}" type="text/javascript"></script>
