{% set regions = regions | default(["default"]) -%}
{% set modal_id = modal_id | default("") -%}

<div class="section">
    <div class="row">
        <div class="col">
            <h7>Load configuration</h7>
            <p>
                <h13>Specify engine region and load profile. CPU Cores and Memory are distributed for each parallel
                    runner
                </h13>
            </p>
        </div>
    </div>
    <div class="d-flex py-4 pl-1">
        <div class="custom-input w-100-imp">
            <p class="custom-input_desc mb-1">Engine location</p>
            <select class="selectpicker bootstrap-select__b" id="{{modal_id}}_region" data-style="btn">
                {% for item in regions %}
                <option>{{item}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="custom-input ml-3">
            <p class="custom-input_desc mb-1">Runners</p>
            <input-stepper :default-value="1"
                           uniq_id="{{ modal_id }}_parallel"
                           @register="register"
                           instance_name="input_stepper_1"></input-stepper>
        </div>
        <div class="custom-input ml-3">
            <p class="custom-input_desc mb-1">CPU Cores</p>
            <input-stepper :default-value="1"
                           @register="register"
                           instance_name="input_stepper_2"></input-stepper>
        </div>
        <div class="custom-input mx-3">
            <p class="custom-input_desc mb-1">Memory, Gb</p>
            <input
                id="fieldOne"
                type="text"
                placeholder="Text">
        </div>
    </div>
</div>
