{% set regions = regions | default(["default"]) -%}
{% set modal_id = modal_id | default("") -%}

<div class="section">
    <div class="row">
        <div class="col">
            <h7>Load configuration</h7>
            <p>
                <h13>Specify engine region and load profile. CPU Cores and Memory are distributed for each parallel
                    runner
                </h13>
            </p>
        </div>
    </div>
    <div class="row pt-2">
        <div class="col-6 pl-0">
            <label class="form-control-label" for="{{modal_id}}_region">Engine location</label>
            <div class="w-100-imp">
                <select class="selectpicker bootstrap-select__b" id="{{modal_id}}_region" data-style="btn" >
                    <optgroup label="Public pool">
                    {% for item in public_regions %}
                    <option>{{item}}</option>
                    {% endfor %}
                    </optgroup>
                    <optgroup label="Project pool">
                    {% for item in project_regions %}
                    <option>{{item}}</option>
                    {% endfor %}
                    </optgroup>
                </select>
            </div>

        </div>
        <div class="col-2">
            <label class="form-control-label">Runners</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <button class="btn btn-37 btn-outline-secondary" type="button"><i class="fas fa-minus"></i></button>
                </div>
                <input type="text" id="{{modal_id}}_parallel" class="form-control form-control-borderless"
                       aria-label="Text input with radio button">
                <div class="input-group-append">
                    <button class="btn btn-37 btn-outline-secondary" type="button"><i class="fas fa-plus"></i></button>
                </div>
            </div>
        </div>
        <div class="col-2">
            <label class="form-control-label">CPU Cores</label>
            <div class="input-group">
                <input type="text" data-tag="cpu" class="form-control form-control-alternative" placeholder="1">
            </div>
        </div>
        <div class="col-2">
            <label class="form-control-label">Memory, Gb</label>
            <div class="input-group">
                <input type="text" data-tag="memory" class="form-control form-control-alternative" placeholder="4">
            </div>
        </div>
    </div>
    <div class="row pt-2">
        <div class="col">
            <button type="button" class="btn btn-sm btn-secondary"><i class="fas fa-plus mr-2"></i>Add Location</button>
        </div>
    </div>
</div>
