{%- macro script_url(file_path) -%}
    {%- set base_url = '<script src="%s"></script>' -%}
    {{ base_url | format(url_for('design-system.static', filename=file_path)) | safe }}
{%- endmacro -%}
{%- macro link_url(file_path) -%}
    {%- set base_url = '<link type="text/css" href="%s" rel="stylesheet"/>' -%}
    {{ base_url | format(url_for('design-system.static', filename=file_path)) | safe }}
{%- endmacro -%}
<!-- Custom JS Files -->
{#{{ script_url('assets/vendor/bootstrap-select/js/bootstrap-select.min.js') }}#}
{#{{ script_url('assets/vendor/bootstrap-table/bootstrap-table.min.js') }}#}
{{ script_url('assets/vendor/chart.js/dist/Chart.min.js') }}
{{ script_url('assets/vendor/chart.js/dist/Chart.extension.js') }}

{{ script_url('assets/js/table.js') }}
{{ script_url('assets/js/select.js') }}

<script src="{{ url_for('theme.static', filename='js/components/alert_bar.js') }}"></script>
<script src="{{ url_for('theme.static', filename='js/custom.js') }}"></script>