<!--&lt;!&ndash;<script src="{{ url_for('static', filename='js/plugins/perfect-scrollbar.jquery.min.js') }}"></script>&ndash;&gt;-->
<!--&lt;!&ndash;  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ &ndash;&gt;-->
<!--<script src="{{ url_for('static', filename='js/plugins/bootstrap-switch.js') }}"></script>-->
<!--&lt;!&ndash;  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ &ndash;&gt;-->
<!--<script src="{{ url_for('static', filename='vendor/nouislider/wNumb.min.js') }}" type="text/javascript"></script>-->
<!--<script src="{{ url_for('static', filename='vendor/nouislider/nouislider.js') }}" type="text/javascript"></script>-->
<!--<script src="{{ url_for('static', filename='js/plugins/moment.min.js') }}"></script>-->
<!--<script src="{{ url_for('static', filename='js/plugins/datetimepicker.js') }}" type="text/javascript"></script>-->
<!--<script src="{{ url_for('static', filename='js/plugins/bootstrap-datepicker.min.js') }}"></script>-->
<!--<script src="{{ url_for('static', filename='js/argon-design-system.min.js') }}" type="text/javascript"></script>-->
<!--&lt;!&ndash;   Optional JS Files   &ndash;&gt;-->
<!--<script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>-->
<!--<script src="https://unpkg.com/bootstrap-table@1.18.3/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>-->

<!--&lt;!&ndash;   Custom JS Files   &ndash;&gt;-->
<script src="{{ url_for('static', filename='vendor/bootstrap-select/js/bootstrap-select.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/bootstrap-table/bootstrap-table.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/table.js') }}"></script>
<script src="{{ url_for('static', filename='js/select.js') }}"></script>
<script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
<script src="{{ url_for('static', filename='js/custom.js') }}" type="text/javascript"></script>