{# Custom JS Files #}
<script src="{{ url_for('design-system.static', filename='assets/vendor/bootstrap-select/js/bootstrap-select.min.js') }}"></script>
<script src="{{ url_for('design-system.static', filename='assets/vendor/bootstrap-table/bootstrap-table.min.js') }}"></script>
<script src="{{ url_for('design-system.static', filename='assets/vendor/chart.js/dist/Chart.min.js') }}"></script>
<script src="{{ url_for('design-system.static', filename='assets/vendor/chart.js/dist/Chart.extension.js') }}"></script>
<script src="{{ url_for('design-system.static', filename='assets/js/table.js') }}"></script>
<script src="{{ url_for('design-system.static', filename='assets/js/select.js') }}"></script>

<script src="{{ url_for('theme.static', filename='js/components/alert_bar.js') }}"></script>
<script src="{{ url_for('theme.static', filename='js/custom.js') }}"></script>
