<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Carrier | Non-functional Testing Toolkit</title>
    <!--  ICONS AND MEDIA-->
    <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='ico/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='ico/favicon.png') }}">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <!--  CSS FILES-->
    <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet"/>
    <link type="text/css" href="{{ url_for('static', filename='vendor/bootstrap-4.6.0-dist/css/bootstrap.css') }}"
          rel="stylesheet"/>

    <link type="text/css" href="{{ url_for('static', filename='vendor/nouislider/nouislider.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://unpkg.com/bootstrap-table@1.18.3/dist/extensions/filter-control/bootstrap-table-filter-control.css">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">


    <link type="text/css" href="{{ url_for('static', filename='css/theme.css') }}" rel="stylesheet">
    <link type="text/css" href="{{ url_for('static', filename='css/slider.css') }}" rel="stylesheet">
    <link type="text/css" href="{{ url_for('static', filename='css/brand.css') }}" rel="stylesheet">
    <link type="text/css" href="{{ url_for('static', filename='css/buttons.css') }}" rel="stylesheet">
    <link type="text/css" href="{{ url_for('static', filename='css/dropdown.css') }}" rel="stylesheet">
    <link type="text/css" href="{{ url_for('static', filename='css/card.css') }}" rel="stylesheet">

    <!--   Core JS Files   -->
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/jquery-3.6.0.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/popper.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='vendor/bootstrap-4.6.0-dist/js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap-select/js/bootstrap-select.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap-table/bootstrap-table.min.js') }}"></script>

