
{% set caption = config.caption | default("Test Parameters1") -%}
{% set modal_id = config.modal_id | default("") -%}
{% set table_data = config.default_params | default([]) -%}
{% set description = config.description | default("You may also create additional parameters with ability to change them in subsequent test runs") -%}
{% set disabled_names = config.disabled_names | default(["test_name", "env_type", "test_type"]) -%}
{% set hidden_columns = config.hidden_columns | default(["type"]) -%}

<div class="section">
    <div class="row">
        <div class="col">
            <h7>{{caption}}</h7>
            <p><h13>{{description}}</h13></p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-borderless params-table"  id="{{modal_id}}_test_params"
                   data-toggle="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col" data-sortable="true" data-field="name" data-formatter=inputFormatter>Name</th>
                        <th scope="col" data-sortable="true" data-field="default" data-formatter=inputFormatter>Default value</th>
                        {% if ("type" not in hidden_columns) %}
                        <th scope="col" data-sortable="true" data-field="type" data-formatter=dataTypeFormatter>Data Type</th>
                        {% endif %}
                        <th scope="col" data-sortable="true" data-field="description" data-formatter=inputFormatter>Description</th>
                        <th scope="col" data-field="action" data-formatter=parametersDeleteFormatter>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                {% for row in table_data %}
                    <tr>
                       <td {% if (row.name in disabled_names) %} class="disabled" {%endif%}>{{row.name}}</td>
                        <td>{{row.default}}</td>
                        <td {% if (row.name in disabled_names) %} class="disabled" {%endif%}>{{row.type}}</td>
                        <td {% if (row.name in disabled_names) %} class="disabled" {%endif%}>{{row.description}}</td>
                        {% if (row.name not in disabled_names) %}
                        <td></td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row pt-2">
        <div class="col">
            <button type="button" class="btn btn-sm btn-secondary" onclick="addEmptyParamsRow('{{modal_id}}_test_params')"><i class="fas fa-plus mr-2"></i>Add Parameter</button>
        </div>
    </div>

</div>
<style>
    .invalid-tooltip-custom {
        top: initial;
        left: inherit;
        visibility: hidden;
    }
    .is-invalid:hover ~ .invalid-tooltip-custom {
        visibility: visible;
    }
</style>

<!--<script>-->
<!--    $('.params-table').on('toggle.bs.table', function(ev) {-->
<!--        var table_data = {{table_data}};-->
<!--        table_data.forEach(function(index){-->
<!--            $(ev.target).bootstrapTable('append', this)-->
<!--        })-->
<!--    });-->
<!--</script>-->