{% include 'theme:common/head.html' %}
<!-- Too add page specific imports -->

</head>
<body>

{{ template_slot("navbar", payload=config) | safe }}
<div id="vue_mountpoint">
{#    {% set navbar, navbar_scripts = template_slot("navbar", payload=config) | extract_tags %}#}
    <!-- Data passed before we rendering the template -->
{#    {{ template_slot("page_content", payload=config) | safe }}#}
    {% set page_content, scripts = template_slot("page_content", payload=config) | extract_tags %}
{#    {{ navbar | safe }}#}
    {{ page_content | safe }}

</div>

{% include 'theme:common/foot.html' %}
<!-- Too add page specific scripts -->
<script>
    $(document).ready(function () {
        {% for item in config.projects %}
            {% if item.selected %}
                selectProject({name: "{{item.name}}", id: {{item.id}}})
            {% endif %}
        {% endfor %}
    });
</script>

<script src="{{ url_for('theme.static', filename='js/vue_test.js') }}"></script>

<div>
    <div>
    SCRIPTS:::
    </div>
{#{{ navbar_scripts | safe }}#}
{{ scripts }}
{{ scripts | safe }}
</div>

                        <table class="table table-borderless"
                               id="latest_tests"
                               data-unique-id="id"
                               data-toggle="table"
                               data-url="/api/v1/security/1/dast"
                               data-pagination="true"
                               data-page-size=5
                               data-side-pagination="server"
                               data-pagination-parts='["pageInfoShort", "pageList"]'
                        >
                            <thead class="thead-light">
                            <tr>
                                <th data-visible="false" data-field="id">index</th>
                                <th scope="col" data-sortable="true" data-field="name">Name</th>
                                <th scope="col" data-sortable="true" data-field="created" data-width="250" data-width-unit="px">
                                    Date
                                </th>
                            </tr>
                            </thead>
                        </table>
</body>
</html>
