{% include 'theme:common/head.html' %}
<!-- Too add page specific imports -->

</head>
<body>

    {{ template_slot("navbar", payload=config) | safe }}
    {#<div id="vue_mountpoint">#}
    {#    {% set navbar, navbar_scripts = template_slot("navbar", payload=config) | extract_tags %}#}
    <!-- Data passed before we rendering the template -->
    {#    {{ template_slot("page_content", payload=config) | safe }}#}
    {% set page_content, scripts = template_slot("page_content", payload=config) | extract_tags %}
    {#    {{ navbar | safe }}#}
    {{ page_content | safe }}

    {#</div>#}

    {% include 'theme:common/foot.html' %}
    <!-- Too add page specific scripts -->
    <script>
        $(document).ready(function () {
            {% for item in config.projects %}
                {% if item.selected %}
                    selectProject({name: "{{item.name}}", id: {{item.id}}})
                {% endif %}
            {% endfor %}
        });
    </script>

    {#<script src="{{ url_for('theme.static', filename='js/vue_test.js') }}"></script>#}

    {#{{ navbar_scripts | safe }}#}
    {{ scripts | safe }}
</body>
</html>
