{% set state = tools.auth.make_request_state() %}
{% set _ = state._context.update(g.__dict__) %}

{% include 'theme:part/head.html' %}
<title>{% block title %}{{ title }}{% endblock %} - Centry</title>
</head>
{% set google_analytics_id = tools.theme.google_analytics_config.id %}
{% if google_analytics_id %}
    {% with
        user = tools.auth.current_user(),
        google_analytics_id = google_analytics_id,
        debug_mode = config.DEBUG,
        ga_id = g.ga_id
    %}
        {% include 'theme:part/google_analytics.html' %}
    {% endwith %}
{% endif %}

<body>
<div id="vue_mountpoint" style="padding-top: 60px">
    {% block all_content %}
        {% include 'theme:part/navbar.html' %}
        {% block content %}
            {{ template_slot('content', state) | safe }}
            {% if prefix %}{{ template_slot('%scontent' | format(prefix), state) | safe }}{% endif %}
        {% endblock %}
    {% endblock %}
</div>

{% block all_scripts %}
    {% include 'theme:part/foot.html' %}
    <script>
        window.socket = io("/", {
            path: "{{ url_for('theme.socketio') }}"
        });

        {% if g.project and g.project.id %}
            activeProject.set_local('{{ g.project.id or None | tojson }}');
        {% else %}
            (async () => await activeProject.delete(false))()
        {% endif %}
        $(document).on('vue_init', () => V.user = {{ tools.auth.current_user() | default({}) | tojson }})
    </script>
    <!-- Vue Application Root -->
    <script src="{{ url_for('theme.static', filename='js/vue_app.js') }}"></script>

    <!-- Nav bar -->
    <script src="{{ url_for('theme.static', filename='js/navbar.js') }}"></script>
    <!-- Custom scripts-->
    <script src="{{ url_for('theme.static', filename='js/alert_bar.js') }}"></script>

    {% include 'theme:part/vue_components.html' %}

    {% block scripts %}
        {{ template_slot('scripts', state) | safe }}
        {% if prefix %}{{ template_slot('%sscripts' | format(prefix), state) | safe }}{% endif %}
    {% endblock %}
{% endblock %}

</body>
</html>
