<div class="modal fixed-left fade shadow-sm" tabindex="-1" role="dialog" id="createTestModal">
    <div class="modal-dialog modal-dialog-aside" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row w-100">
                    <div class="col">
                        <h2>Create Backend Tests</h2>
                    </div>
                    <div class="col-xs">
                        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal" aria-label="Close">Cancel</button>
                        <button type="button" id="submit" class="btn btn-sm  btn-secondary" onclick="createTest()">Save</button>
                        <button type="button" id="save" class="btn btn-sm  btn-basic" onclick="createTest()">Save and start</button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                 <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <h9>Test Name</h9>
                            <p><h13>Enter a name that describes the purpose of your test.</h13></p>
                            <input type="text" id="test_name" class="form-control form-control-alternative" placeholder="Test Name">
                        </div>
                        <div class="row">
                            <div class="col pl-0">
                                <div class="form-group">
                                    <h9>Test Type</h9>
                                    <p><h13>Tag to group tests by type</h13></p>
                                    <input type="text" id="test_type" class="form-control form-control-alternative" placeholder="Test Type">
                                </div>
                            </div>
                            <div class="col pr-0 pl-1">
                                <div class="form-group">
                                    <h9>Environment</h9>
                                    <p><h13>Tag to group tests by environment</h13></p>
                                    <input type="text" id="test_env" class="form-control form-control-alternative" placeholder="Test Environment">
                                </div>
                            </div>
                        </div>
                        <div class="form-group" id="testrunners">
                            <h9>Test runner</h9>
                            <p><h13>Choose the runner for the test.</h13></p>
                            <select class="selectpicker" id="runner" data-style="btn-gray">
                                <optgroup label="jMeter">
                                    <option value="v5.3">JMeter v5.3</option>
                                    <option value="v5.2.1">JMeter v5.2.1</option>
                                    <option value="v5.2">JMeter v5.2</option>
                                    <option value="v5.1.1">JMeter v5.1.1</option>
                                    <option value="v5.1">JMeter v5.1</option>
                                    <option value="v5.0">JMeter v5.0</option>
                                    <option value="v4.0">JMeter v4.0</option>
                                </optgroup>
                                <optgroup label="Gatling">
                                    <option value="v3.1">Gatling v3.1</option>
                                    <option value="v2.3">Gatling v2.3</option>
                                </optgroup>
                            </select>
                        </div>
                        <div class="form-group" id="compileTests">
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox" class="custom-control-input" id="compile" disabled>
                                <label class="custom-control-label" for="compile">Compile tests for Gatling</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        {{ template_slot("source_card", payload={"chapters": ["git", "artifact"]}) | safe }}
                        <div class="form-group mt-2">
                            <div class="form-group">
                                <h9>Entrypoint</h9>
                                <p><h13>File for jMeter and class for gatling</h13></p>
                                <input type="text" id="entrypoint" class="form-control form-control-alternative"
                               placeholder="Entrypoint (e.g. some.jmx or some.Test)">
                            </div>
                        </div>
                    </div>
                </div>
                {{ template_slot("locations", payload={"regions": config.regions}) | safe }}
                {{ template_slot("params_table", payload={"caption": "Test Parameters"}) | safe }}
                {{ template_slot("reporting_config", payload={"name": "createTestModal", "cogs": True}) | safe }}
                <div class="section">
                    <div class="row">
                        <div class="col">
                            <h7>ADVANCED PARAMETERS</h7>
                            <p><h13>Configure parameters for test runner, test data and network setting</h13></p>
                        </div>
                        <div class="col">
                            <div class="col-xs text-right">
                                <button type="button" class="btn btn-nooutline-secondary mr-2" onclick="toggleAdvanced('advancedBackend')"><i class="fas fa-chevron-down"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="row pt-4" id="advancedBackend" style="display:none">
                        <div class="col-6">
                            <div class="card card-x card-row-1" id="extCard">
                                <div class="card-header">
                                    <div class="d-flex flex-row">
                                        <div class="flex-fill">
                                            <h9 class="flex-grow-1">Custom plugins and extensions</h9>
                                            <p><h13>Bucket and file for your customizations</h13></p>
                                        </div>
                                        <div>
                                            <button type="button" class="btn btn-32 btn-action mt-1" onclick="addParam('extCard', 'bucket/file', 'path/to/file')"><i class="fas fa-plus"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card card-x card-row-1" id="splitCSV">
                                <div class="card-header">
                                    <div class="d-flex flex-row">
                                        <div class="flex-fill">
                                            <h9 class="flex-grow-1">Split CSV</h9>
                                            <p><h13>Distribute CSV data across load generators</h13></p>
                                        </div>
                                        <div>
                                            <button type="button" class="btn btn-32 btn-action mt-1" onclick="addCSVSplit('splitCSV')"><i class="fas fa-plus"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card card-x card-row-1" id="dnsCard">
                                <div class="card-header">
                                    <div class="d-flex flex-row">
                                        <div class="flex-fill">
                                            <h9 class="flex-grow-1">DNS Override</h9>
                                            <p><h13>Specify alternative IPs for hosts used in your script</h13></p>
                                        </div>
                                        <div>
                                            <button type="button" class="btn btn-32 btn-action mt-1" onclick="addParam('dnsCard', 'hostname.company.com', '0.0.0.0')"><i class="fas fa-plus"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>