<div class="d-flex">
    <div class="card card-x card-table-sm">
        <div class="card-header">
            <div class="row">
                <div class="col-4">
                    <h3>Backend tests</h3>
                </div>
                <div class="col-8">
                    <div class="d-flex justify-content-end">
                        <button type="button" class="btn btn-32 btn-secondary" data-toggle="modal"
                                data-target="#createTestModal"><i class="fas fa-plus"></i></button>
                        <button type="button" class="btn btn-32 btn-secondary"><i class="fas fa-sync"></i></button>
                        <button type="button" class="btn btn-32 btn-secondary"><i
                                class="fas fa-filter"></i></button>
                        <button type="button" class="btn btn-32 btn-secondary"><i class="fas fa-tag"></i></button>
                        <button type="button" class="btn btn-32 btn-secondary" onclick="deleteTests()"><i
                                class="fas fa-trash-alt"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body card-table card-quater">
            <table class="table table-borderless"
                   id="tests-list"
                   data-toggle="table"
                   data-side-pagination="server"
                   data-url="/api/v1/backend/{{config.id}}"
                   data-page-size=5
                   data-unique-id="id"
                   data-pagination="true"
                   data-pagination-parts='["pageInfoShort", "pageList"]'>
                <thead class="thead-light">
                <tr>
                    <th scope="col" data-checkbox="true"></th>
                    <th data-visible="false" data-field="id">index</th>
                    <th scope="col" data-sortable="true" data-cell-style="nameStyle" data-field="name">Name</th>
                    <th scope="col" data-sortable="true" data-cell-style="nameStyle" data-field="test_uid">UUID
                    </th>
                    <th scope="col" data-sortable="true" data-cell-style="nameStyle" data-field="entrypoint">
                        Entrypoint
                    </th>
                    <th scope="col" data-align="center" data-sortable="true" data-formatter=backendLgFormatter
                        data-field="job_type">Tool
                    </th>
                    <th scope="col" data-align="right" data-cell-style="cellStyle"
                        data-formatter=backendTestActionFormatter>Actions
                    </th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="card card-x">
        <div class="card-header">
            <div class="row">
                <div class="col-4">
                    <h3>Thresholds</h3>
                </div>
                <div class="col-8">
                    <div class="d-flex justify-content-end">
                        <button type="button" class="btn btn-24 btn-secondary"><i class="fas fa-plus"></i></button>
                        <button type="button" class="btn btn-24 btn-secondary"><i class="fas fa-trash-alt"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <h9>Card card-x in d-flex container uses all available width, if there are few of those, they will share
                a row
            </h9>
        </div>
    </div>
</div>
<div class="card card-12">
    <div class="card-header">
        <div class="row">
            <div class="col-4">
                <h3>Results</h3>
            </div>
            <div class="col-8">
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-24 btn-secondary"><i class="fas fa-sync"></i></button>
                    <button type="button" class="btn btn-24 btn-secondary"><i class="fas fa-filter"></i></button>
                    <button type="button" class="btn btn-24 btn-secondary"><i class="fas fa-tag"></i></button>
                    <button type="button" class="btn btn-24 btn-secondary"><i class="fas fa-trash-alt"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body card-table">
        <table class="table table-borderless"
               id="results-list"
               data-toggle="table"
               data-side-pagination="server"
               data-url="/api/v1/reports/{{config.id}}"
               data-page-size=5
               data-unique-id="id"
               data-pagination="true"
               data-pagination-parts='["pageInfoShort", "pageList"]'>
            <thead class="thead-light">
            <tr>
                <th scope="col" data-checkbox="true"></th>
                <th data-visible="false" data-field="id">index</th>
                <th scope="col" data-sortable="true" data-field="name" data-formatter=createLinkToTest>Name</th>
                <th scope="col" data-sortable="true" data-field="start_time">Date</th>
                <th scope="col" data-sortable="true" data-field="duration">Duration</th>
                <th scope="col" data-sortable="true" data-field="vusers">vUsers</th>
                <th scope="col" data-sortable="true" data-field="environment">Env</th>
                <th scope="col" data-sortable="true" data-field="type">Test Type</th>
                <th scope="col" data-sortable="true" data-field="throughput">TPS</th>
                <th scope="col" data-sortable="true" data-field="failure_rate">Fail Rate</th>
                <th scope="col" data-sortable="true" data-field="tags">Tags</th>
                <th scope="col" data-sortable="true" data-field="status" data-formatter="reportsStatusFormatter">Status</th>
            </tr>
            </thead>
        </table>
    </div>
</div>

{{ template_slot("create_test", payload=config)|safe }}
{{ template_slot("run_test", payload=config)|safe }}

<script src="{{ url_for('design-system.static', filename='assets/vendor/nouislider/nouislider.js') }}"
        type="text/javascript"></script>
<script src="{{ url_for('theme.static', filename='js/components/performanceBackend.js') }}" type="text/javascript"></script>
<script src="{{ url_for('theme.static', filename='js/components/reporting.js') }}" type="text/javascript"></script>
