<div class="modal modal-base fixed-left fade shadow-sm" tabindex="-1" role="dialog" id="runTestModal">
    <div class="modal-dialog modal-dialog-aside" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row w-100">
                    <div class="col">
                        <h3 class="ml-4 mt-3 mb-3" id="runTestName">Run Backend Test</h3>
                    </div>
                    <div class="col-xs">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close">
                            Cancel
                        </button>
                        <button type="button" id="run_test" class="btn btn-basic" onclick="runTest()">Run test</button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                {{ template_slot("params_table", payload={"caption": "Test Parameters", "modal_id": "runner"}) | safe }}
                {{ template_slot("locations", payload={"regions": config.regions, "modal_id": "runner"}) | safe }}
                {{ template_slot("reporting_config", payload={"name": "runTestModal", "cogs": False}) | safe }}
                <div class="row p-4">
                    <div class="col"></div>
                </div>
            </div>
        </div>
    </div>
</div>